!
! Cisco 48 port switch configuration
!
hostname {{ hostname }}
!
ip domain-name {{ domain_name }}
ip name-server {{ dns_server}}
ntp server {{ ntp_server }}

username {{ admin_user }} privilege 15 password {{ admin_password }}
enable secret {{ enable }}
!
snmp-server community {{ snmp_ro }} RO
snmp-server community {{ snmp_rw }} RW
!
line vty 0 15
transport input telnet ssh
exec-timeout 30 0
password {{ tty_password }}
logging synchronous
login local
!
ip routing
!
interface Loopback0
 description Management Interface
 ip address {{ management_ip }} 255.255.255.255
!
ip route 0.0.0.0 0.0.0.0 {{ management_gw }}
{# VLANS #}
vlan {{ vlan.id.data}}
 name {{ vlan.name.data }}
vlan {{ vlan.id.voice }}
 name {{ vlan.name.voice }}
vlan {{ vlan.id.wireless }}
 name {{ vlan.name.wireless }}

{# Enduser_switch_interface #}
interface GigabitEthernet0/1-40
 switchport voice vlan {{ vlan.id.voice }}
 switchport vlan {{ vlan.id.data }}
 spanning-tree portfast
 auto qos voip cisco-phone

 {# Wireless_Switch_Interface #}
interface GigabitEthernet0/41-48
 switchport mode trunk
 switchport trunk native vlan {{vlan.id.wireless}}
 spanning-tree portfast trunk
 auto qos trust dscp

{# Uplink_Switch_Interface #}
interface TenGigabit0/1
 switchport mode trunk
 auto qos trust dscp

{# Standard_Configuration #}
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
service unsupported-transceiver
parser config cache interface
errdisable recovery cause all
crypto key generate rsa modulus 2048 exportable
ip ssh version 2
lldp run
!
clock timezone CST -6
clock summer-time CDT recurring
logging buffered 15000
spanning-tree mode rapid-pvst
spanning-tree portfast bpduguard default
spanning-tree loopguard default
spanning-tree logging
spanning-tree pathcost method long

!
archive
 path flash:$h$t
 write-memory
 log config
  logging enable
!
no ip http server
no ip http secure-server
snmp ifmib ifindex persist
!
end
